*/bin/
*/bin/*
*/bin/Debug/*
*/bin/Release/*
/bin
/obj
/.vs
/.vs/ScreenRuler
/.vs/ScreenRuler/CopilotIndices
/.vs/ScreenRuler/FileContentIndex
/.vs
*.sez
*.json
.vs/ScreenRuler/v17/DocumentLayout.json
.vs/ScreenRuler/v17/.suo
.vs/ScreenRuler/v17/.futdcache.v2
.vs/ScreenRuler/DesignTimeBuild/.dtbcache.v2
.vs/ScreenRuler/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
.vs/ScreenRuler/CopilotIndices/17.14.1347.20289/CodeChunks.db
.vs/ProjectEvaluation/screenruler.strings.v9.bin
.vs/ProjectEvaluation/screenruler.projects.v9.bin
.vs/ProjectEvaluation/screenruler.metadata.v9.bin
.vs/ScreenRuler/v17/DocumentLayout.json
.vs/ScreenRuler/v17/.suo
.vs/ScreenRuler/v17/.futdcache.v2
.vs/ScreenRuler/DesignTimeBuild/.dtbcache.v2
.vs/ScreenRuler/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
.vs/ScreenRuler/CopilotIndices/17.14.1347.20289/CodeChunks.db
.vs/ProjectEvaluation/screenruler.strings.v9.bin
.vs/ProjectEvaluation/screenruler.projects.v9.bin
.vs/ProjectEvaluation/screenruler.metadata.v9.bin
